@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
  }
}

@layer base {
  body {
    @apply bg-green-50 min-h-screen;
  }
}